.search-bar{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
    max-width:80vw;
}


.search-bar input{
    border: 2px solid black;
    border-radius:10px 0 0 10px;
    width:500px;
    margin-right: 5px;
    font-size:15px;
    font-weight:bold;
    background: rgba(255,255,255,0.7);
}
.search-bar input::placeholder {
    font-style: italic;
    color: black;
    opacity: 0.3;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #344e41;
}