#root {
  max-width: 1280px;
    height:auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.read-the-docs {
  color: #888;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 80vh;
    overflow-y: auto;
    letter-spacing: 0.08rem;
}

h1{
    font-size: 80px;
    margin: 0;
}